.carousel {
  width: 100%;
  overflow-x: scroll;
  scroll-snap-type: x mandatory; /* Enable horizontal scroll snap */
  -webkit-overflow-scrolling: touch; /* Enable smooth scrolling on iOS devices */
}

.carousel-inner {
  display: flex;
  scroll-snap-type: x mandatory; /* Enable horizontal scroll snap for flex container */
}

.carousel-item {
  flex: 0 0 auto;
  scroll-snap-align: start; /* Align items to the start of the scroll container */
}
